@keyframes blinkAndFade {
  0%, 10% {
    opacity: 1;
    filter: drop-shadow(5px 5px 5px #e80707);
  }
  50% {
    filter: drop-shadow(0px 0px 0px #e80707);
  }
  90% {
    opacity: 1;
    filter: drop-shadow(5px 5px 5px #e80707);
  }
  100% {
    opacity: 0;
    filter: none;
  }
}






/* Asegúrate de revisar y ajustar los estilos de posición si utilizas 'position: absolute;' */


.apple {
  -webkit-filter: drop-shadow(5px 5px 5px #222); /* For Safari */
  filter: drop-shadow(5px 5px 5px #222);
  animation: blinkAndFade 3s forwards; /* Total animation time */
}

.containerfade {
  background-color: rgb(45, 46, 46); /* Este es el color inicial del fondo del body */
  animation: changeBg -3s forwards -1s; /* Comienza a cambiar después de 7 segundos y toma 1 segundo en completarse */
}


/* Reemplaza #nuevoColor con el color que desees */

.containerfade{
  position: absolute;
  width: 100%;
  height: 400%;
  z-index: 1;
  animation: cambio1 1s forwards 3s, changeBg 4s forwards 4s;

}

@keyframes cambio1{
  from { z-index: 1; }
  to { z-index: 0; }

}

@keyframes changeBg {
  from { background-color: rgb(45, 46, 46); }
  to { background-color: white; } 
  
}


  .fondo {
    width: 100%;
    height: 100%;
}

  






.manzana2{
  position: absolute;
  top: 100%;

}





.container_manzanas {
  background-color: black;
  position:absolute;
  width: 100%;
  height: 100%;
  /* animation: cambio 1s forwards 3s; */
}


/* @keyframes cambio{
  from { z-index: 2; }
  to { z-index: 1; }

} */


.container_manzanas .fondo{
  background-color: aquamarine;

}









p{
  position:absolute;
  top:50%;
  left: 50%;
  font-size: xx-large;
  color: antiquewhite;
}

.card{

  position: absolute;
  top: 225%;
  
}

/* .card-img-top{
  height: 450px;
} */


.ocultar{
  position:absolute;
  height: 100%;
  width: 100%;
  top:305%;
}

.ultimamanzana{
height: 100%;
width:100%;
}


.ultimamanzana1{
  height: 100%;
  width:130.5%;
    }










/*Contenedor que oculta el formulario uno es el formulario dos es el div que lo oculta*/
.formulario {
  position: absolute;
  top: 120%;
  left:29%;
  width: 700px;
  height: 100px;
  display: block;
  overflow: hidden;
}

#uno, #dos {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  transition: opacity 1s ease;
  opacity: 0; /* Ambos divs comienzan invisibles para permitir la transición */
}

#uno {
  top: 80%;
  background-color: red;
}

#dos {
  background-color: transparent;
  opacity: 1; /* Hacer que dos sea visible por defecto */
}

#uno:target, #dos:target {
  opacity: 1;
}

/* Al hacer clic fuera de los divs, se muestra dos por defecto */
:root:target #uno,
:root:target #dos {
  opacity: 0;
}

#dos:target {
  opacity: 1;
}

#uno:target {
  opacity: 1;
}

/* Especifica qué div mostrar cuando no se ha seleccionado ninguno */
:root:not(:target) #dos {
  opacity: 1;
}







/*Manzana que hace de boton y brilla*/

.mover1{

  position: absolute;
  height: 138%;
  width: 77.5%;
  top: -19px;
  left: -10px;
  
  }
  
  
  
  .mover1:hover{
    filter: drop-shadow(10px 10px 10px #FFF)
  }











  #doss{
    position:absolute;
    left: 300px;
  }


.link1{
  background-color: black;
  position:absolute;
  width: 50%;
  height: 10%;
  top :70%;
  
}


.link2{
  background-color: aquamarine;
  width: 50%;
  height: 10%;
  position:absolute;
  left:50%;
  top:70%;
  left:65%;
}



























/* 
img {
  -webkit-filter: drop-shadow(
      5px 5px 5px #e70808
      
      );
  filter: drop-shadow(5px 15px 35px #e80707);
} */


/* 
@keyframes blink {
  0%, 100% {
    filter: drop-shadow(5px 5px 5px #e80707);
  }
  50% {
    filter: drop-shadow(0px 0px 0px #e80707);
  }
}

img {
  -webkit-filter: drop-shadow(5px 5px 5px #222); 
  filter: drop-shadow(5px 5px 5px #222);
  animation: blink 3s infinite; 
}
 */
